.last-chance {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 288px;
  margin-left: auto;
  margin-right: auto;
}

.last-chance__goods {
  list-style: none;
  padding: 0;
  padding-top: 20px;
  background-color: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);

}

.last-chance__item {
  min-height: 400px;
  width: 288px;
  background-color: white;
}

.last-chance__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 400px;
  padding-left: 25px;
}

.last-chance__header {
  font-family: @Playfair;
  font-weight: 700;
  font-size: 20px;
  line-height: 37px;
  text-transform: uppercase;
  width: 221px;

  &::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 90px;
    height: 4px;
    left: 0;
    top: 60px;
  }
}

.last-chance__name {
  font-size: 16px;
  margin: 0;
}

.last-chance__price {
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.last-chance__old-price {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  text-decoration: line-through;
  color: @regular-grey;
}

.last-chance__img {
  display: block;
  min-height: 287px;
  width: 232px;
  margin-left: auto;
}
