.major-product {
  padding-left: 16px;
}

.major-product__name {
  font-size: 20px;
  line-height: 27px;
}

.major-product__price {
  .major-product__name;

  &--special {
    font-size: 30px;
    line-height: 41px;
    font-weight: 700;
    border-style: none;
  }
}

.major-product__choose {
  font-size: 15px;
  line-height: 25px;
}

.major-product__image {
  display: block;
  margin-left: auto;
  min-height: 327px;
}
