@light-blue: #F9FDFF;
@regular-black: #303032;
@lighter-black: #444348;
@regular-grey: #979798;
@pink: #FAECE9;
@OpenSans: "Open Sans", Arial, sans-serif;
@Playfair: "Playfair Display", Arial, sans-serif;
